body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-image: url(Img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: static;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 39px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-right: 60px;
}

.nav-links li a {
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links li a:hover {
    background: #ff6347;
}


.contact {
    padding: 100px 20px;
    text-align: center;
    
}

.contact h2 {
    margin-bottom: 20px;
    color: olive;
   
}

.contact-info {
    margin-bottom: 40px;
    color: antiquewhite;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #ff6347;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.map {
    text-align: center;
    color: olive;
}

.map iframe {
    border: 0;
    width: 100%;
    max-width: 900px;
    height: 450px;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
.Img{
    margin-left: -10px;
}
h3{
    font-size: 27px;
}
@media (max-width: 725px) {
        .logo {
            font-size: 30px;
        }
    }
     @media (max-width: 669px) {
        .nav-links {
            gap: 0px;
        }
    }
       @media (max-width: 607px) {
        .nav-links {
            display: block;
        }
    }