body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f9f9f9;
    }

    
    .wrapper {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.6s ease;
    }
    .wrapper {
    background-image: url('/Img/vintage-old-rustic-cutlery-dark.jpg'); 
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
   
    }

    

    
    .categories {
      display: flex;
      gap: 20px;
      margin-top: 40vh;
      transition: all 0.6s ease;
    }

    .categories.top {
      margin-top: 95px;
    }

    .category-btn {
      padding: 14px 26px;
      border: none;
      border-radius: 25px;
      background: rgb(106, 122, 2);
      color: white;
      font-size: 16px;
      cursor: pointer;
    }

    .category-btn:hover {
      background: #ac5c01;
    }

   .grid {
  width: 90%;
  max-width: 1200px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr; 
  }
}


    .card {
      background: white;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .card img {
      width: 100%;
      height: 140px;
      object-fit: cover;
    }

    .text {
      padding: 10px;
    }

    .text h4 {
      margin: 0 0 6px;
      font-size: 15px;
    }

    .text p {
      margin: 0;
      font-size: 13px;
      color: #666;
    }
    header {
   
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 39px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links li a:hover {
    background: #ff6347;
}

footer {
  width: 100%;         
  background-color: #222; 
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}